{% extends "layouts/base.html" %}

{% block profile %}
  {% include "layouts/not_authorized.html" %}
{% endblock profile %}

{% block content %}

<div >
    <h2>Log In</h2>
</div>

  <div class="container mt-4">
    
    <form class="d-flex flex-column gap-3">

      <div class="row mb-3 d-flex align-items-center">
        
        <label for="questionTitle" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" required placeholder = "Enter login"> 
        </div>
      </div>
  
     <div class="row mb-3 d-flex align-items-center">
        
        <label for="questionTitle" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="password" minlength="8" required>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2"></div> 
        <div class="col-sm-4">
            <div class = "d-flex justify-content-center">
            <a class="btn btn-success" type="submit" href="#" >Log In</a>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2"></div> 
        <div class="col-sm-4">
            <div class = "d-flex justify-content-center">
            <a class="btn btn-sm btn-outline-success" type="submit" href="#" >Create new account</a>
            </div>
        </div>
      </div>
    </form>
  </div>

  
{% endblock content %}